<div class="container content">

  <div class="astrologists-list">
    <h1 class=" title pt-5">Our amazing astrologists are here to help you</h1>
      <div class="grid">
        <% @astrologists.each do |astrologist| %>
        <%= link_to astrologist_path(astrologist) do %>
          <div class="d-flex justify-content-center">
            <div class="astrologist-card my-4">
              <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path astrologist.user.photo.key %>')">
                <div class="name-card">
                  <h1><%= astrologist.user.first_name %></h1>
                  <h1 class="horizontal-line"><%= astrologist.user.last_name %></h1>
                </div>
              </div>
              <div class="card-bottom p-3 d-flex justify-content-between">
                <p> <strong><%= astrologist.price %></strong> € / hour</p>
                <p><%astrologist.rating_average.times do%>
                    <i class="fas fa-star"></i>
                    <% end %>
                </p>
              </div>
              <ul class="list-group list-group-horizontal justify-items-center">
                <% astrologist.speciality.gsub(/[^a-zA-Z,]/i, '').split(',').each do |speciality| %>
                  <li class="list-group-item"><%= speciality %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>


