<div class="container content">

  <div class="astrologists-list">
    <h1 class=" title pt-5">Our amazing astrologists are here to help you</h1>
      <div class="grid">
        <% @astrologists.each do |astrologist| %>
          <div class="d-flex justify-content-center">
            <div class="astrologist-card my-4">
              <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path astrologist.user.photo.key %>')">
                <div class="name-card">
                  <h1><%= astrologist.user.first_name %></h1>
                  <h1 class="horizontal-line"><%= astrologist.user.last_name %></h1>
                </div>
              </div>
              <div class="card-bottom pl-3 py-3">
                <p> <strong><%= astrologist.price %></strong>€ / hour</p>
                <%= link_to "See more infos", astrologist_path(astrologist)%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>


