<div class="container content">

  <div class="d-flex align-items-center mt-5">

    <div id="l-box-shadow" class="mr-5">
      <% if @astrologist.user.photo.attached? %>
        <%= cl_image_tag @astrologist.user.photo.key, width: 350, heigth: 500 %>
      <% end %>
    </div>

    <div class="astro-info">
      <h1 class="text-center pb-3"><%= @astrologist.user.first_name %> <%= @astrologist.user.last_name %></h1>
      <ul class="list-group list-group-horizontal justify-items-center">
        <li class="list-group-item">Natal chart reading</li>
        <li class="list-group-item">Astrology forecast</li>
        <li class="list-group-item">Couple compatibility analysis</li>
      </ul>
      <div class="d-flex" style="align-items: baseline;">
        <h4 class="pt-5"> Price: <%= @astrologist.price %>€/hour</h4>
        <% if user_signed_in? && current_user.id == @astrologist.user_id%>
            <%= link_to edit_astrologist_path(@astrologist) do %>
              <i class="far fa-edit edit-link pl-4"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-5 pink-line"></div>


  <div class="d-flex justify-items-center mt-5  justify-content-between">
    <div class="astro-exp ml-4 mr-3">
      <h3 class="text-center">Experience:</h3>
      <p class="text-left mt-4"><%= @astrologist.experience%></p>
    </div>

    <div class="appointment">


        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for [@astrologist, @booking], method: "post" do |f| %>
            <%= f.input :date,
              as: :string,
              label: false,
              required: false,
              input_html: {class: "datepicker d-none", data: {unavailable_dates: @unavailable_dates.to_json}}
            %>
            <% if !user_signed_in? || current_user.id != @astrologist.user_id%>
              <%= f.input :time, :label => 'Appointment time:', :label_html => { :class => 'time-label' } %>
              <%= f.submit "Book this Astrologist", class: "button mt-3 btn-book" %>
            <% end %>
          <% end %>
        </div>
      </div>

  </div>
  <div class="mt-5 pink-line"></div>


  <div class="reviews text-center mt-5">
    <h2>Reviews</h2>

  </div>

  <p>
  <a class="button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%=@astrologist.user.first_name%>'s Reviews
  </a>
</p>
  <div class="collapse" id="collapseExample">
    <div class="reviews">
      <div class="row">
        <% @astrologist.reviews.sort.reverse.each do |review| %>
          <div class="col-6">
            <div class="box-rating card-body">
              <%= cl_image_tag review.booking.user.photo.key, class: "avatar" %>
              <p><%= review.booking.user.first_name %></p>
              <p><i class="fas fa-star"><%= review.rating %></i></p>
              <p><i class="fas fa-quote-left quote"></i><%= review.comment%> <i class="fas fa-quote-right quote"></i></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


