<div class="container content">

  <div class="d-flex align-items-center mt-5">

    <div id="l-box-shadow" class="mr-5">
      <% if @astrologist.user.photo.attached? %>
        <%= cl_image_tag @astrologist.user.photo.key, width: 350, heigth: 500 %>
      <% end %>
    </div>

    <div class="astro-info">
      <h1 class="text-center pb-3"><%= @astrologist.user.first_name %> <%= @astrologist.user.last_name %></h1>
      <ul class="list-group list-group-horizontal justify-items-center">
        <li class="list-group-item">Natal chart reading</li>
        <li class="list-group-item">Astrology forecast</li>
        <li class="list-group-item">Couple compatibility analysis</li>
      </ul>
      <h4 class="pt-5"> Price: <%= @astrologist.price %>€/hour</h4>
      <% if user_signed_in? && current_user.id == @astrologist.user_id%>
          <%= link_to "Edit offer", edit_astrologist_path(@astrologist), class: "button" %>
      <% end %>
    </div>
  </div>
  <div class="mt-5 pink-line"></div>


  <div class="d-flex justify-items-center mt-5  justify-content-between">
    <div class="astro-exp ml-4 mr-3">
      <h3 class="text-center">Experience:</h3>
      <p class="text-left mt-4"><%= @astrologist.experience%></p>
    </div>

    <div class="appointment">
      <% if current_user.id != @astrologist.user_id%>

        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for [@astrologist, @booking], method: "post" do |f| %>
            <%= f.input :date, as: :string, label: false, required: false, input_html: {class: "datepicker d-none"} %>
            <%= f.input :time, :label => 'Appointment time:', :label_html => { :class => 'time-label' } %>
            <%= f.submit "Book this Astrologist", class: "button mt-3 btn-book" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-5 pink-line"></div>


  <div class="reviews text-center mt-5">
    <h2>Reviews</h2>

  </div>
</div>


