<div class="container content text-center">
  <div class="d-flex justify-content-center">
    <div class="left-div text-left">
      <div class="profile-card mt-5 mb-4 mr-5">
        <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @user.photo.key %>')">
          <div class="name-card">
            <h1><%= @user.first_name %></h1>
            <h1 class="horizontal-line pb-3"><%= @user.last_name %></h1>
          </div>
        </div>
        <div class="card-bottom">
          <p> <strong>Date of birth:</strong> <%= @user.birth_date.strftime(" %A %e %B %Y") %></p>
          <p> <strong>Time of birth:</strong> <%= @user.birth_time.strftime(" %l %p %M") %></p>
          <p> <strong>Place of birth:</strong> <%= @user.birth_place %></p>
          <p> <%= link_to 'Edit profile', edit_user_registration_path %></p>
        </div>
       </div>
       <div class="text-center">
          <% if current_user.astrologists.length <= 0 %>
            <%= link_to 'Become an astrologist', new_astrologist_path, class: "button my-3 mr-4" %>
          <% else %>
            <%= link_to 'Edit astrologist profile', edit_astrologist_path(current_user.astrologists.first), class: "button my-3 mr-4" %>
        <% end %>
      </div>
    </div>
    <div class="right-div d-flex flex-column ">
        <h1 class="text-center mt-5 ml-5 booking-text">My Bookings</h1>
        <% current_user.bookings.each do |booking| %>
          <div class="booking-card my-5 ml-5 mb-3">
            <div class="card-bottom text-left">
              <p><strong>Astrologist:</strong> <%= booking.astrologist.user.first_name %> <%= booking.astrologist.user.last_name %></p>
              <p><strong>Appointment:</strong> <%= booking.date.strftime(" %A %e %B %Y") %> at <%= booking.time.strftime(" %l %p %M") %></p>
              <% if booking.date <= DateTime.now %>
                <p>
                  <a class="button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="review-button">
                    Leave a review
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <%= simple_form_for([booking,@review]) do |f| %>
                    <%= f.input :rating, as: :select, collection: 1..5 %>
                    <%= f.input :comment, placeholder: "It was a great session. I can already see myself changing!" %>
                  <div class="d-flex">
                    <%= f.submit "Leave a review", class: "button" %>
                  <% end %>
                  <a class= "button" id="cancel-button">Cancel</a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
   </div>

</div>
