<div class="header"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( https://www.wellandgood.com/wp-content/uploads/2020/01/01-13-Moon-Phases-Feature.jpg);">
    <div class="container">
      <h1>Welcome to Astromeet</h1>
      <p>Some animated text</p>
    </div>
  </div>
</div>

<div class="container content mt-5">
  <div class="services-info">
      <h1 class="py-3 text-center">What do you fancy?</h1>
        <div class="inline mt-5">
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_chart_reading.png", alt: "chart reading", width: 60, height: 50 %></div>
            <p>Natal chart reading</p>
          </div>
            <div class="service-card">
            <div class="icon"><%= image_tag"noun_12_forecast.png", alt: "chart reading", width: 60, height: 50 %></div>
            <p>12-month astrology forecast</p>
            </div>
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_compatibility.png", alt: "chart reading", width: 60, height: 50 %></div>
            <p>Couple compatibility analysis</p>
          </div>
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_coaching.png", alt: "chart reading", width: 60, height: 50 %></div>
            <p>Love coaching</p>
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    <%= link_to "Meet our astrologists", astrologists_path, class: "button my-3"  %>
  </div>
</div>


