<div class="header">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( https://www.wellandgood.com/wp-content/uploads/2020/01/01-13-Moon-Phases-Feature.jpg);">
    <div class="container">
      <h1 class="text-home">FIND YOUR BEST SELF WITH ASTROMEET...</h1>
      <div class="d-flex justify-content-center">
        <%= link_to "Meet our astrologists", astrologists_path, class: "button button-banner"  %>
      </div>
    </div>
  </div>
</div>

<div class="container content mt-5">
  <div class="services-info">
      <h1 class="pt-5 pb-3 text-center">What do you fancy?</h1>
        <div class="inline mt-5">
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_coaching.png", alt: "chart reading", width: 60, height: 50 %>
            </div>
            <p>Love coaching</p>
          </div>
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_chart_reading.png", alt: "chart reading", width: 60, height: 50 %>
            </div>
            <p>Natal chart reading</p>
          </div>
          <div class="service-card">
            <div class="icon"><%= image_tag"noun_compatibility.png", alt: "chart reading", width: 60, height: 50 %>
            </div>
            <p>Couple compatibility analysis</p>
          </div>
            <div class="service-card">
            <div class="icon"><%= image_tag"noun_12_forecast.png", alt: "chart reading", width: 60, height: 50 %>

            </div>
            <p>12-month astrology forecast</p>
            </div>
        </div>
    </div>

  <h1 class="text-center my-5">Our Top Reviews</h1>
 <div id="carouselExampleIndicators" class="carousel slide p-3 mt-4" data-ride="carousel" data-interval="3000">

  <div class="carousel-inner">
    <div class="carousel-item active text-center">
          <%= cl_image_tag @review.booking.user.photo.key, :style => "width: 80px;height: 80px;border-radius: 50%;object-fit: cover;"  %>
          <p><i class="fa fa-quote-left" aria-hidden="true"></i> <%= @review.comment  %> <i class="fa fa-quote-right" aria-hidden="true"></i></p>
          <p> <% @review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
          </p>
          <p>Comment By: <%= @review.booking.user.first_name %></p>
          <p>About: <%= @review.booking.astrologist.user.first_name %> <%= @review.booking.astrologist.user.last_name %></p>
        </div>

        <% @reviews.each do |review|  %>

              <div class="carousel-item text-center">
            <%= cl_image_tag review.booking.user.photo.key, :style => "width: 80px;height: 80px;border-radius: 50%;object-fit: cover;"  %>
            <p><i class="fa fa-quote-left" aria-hidden="true"></i> <%= review.comment  %> <i class="fa fa-quote-right" aria-hidden="true"></i></p>
            <p> <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
            </p>
            <p>Comment By: <%= review.booking.user.first_name %></p>
            <p> About: <%= review.booking.astrologist.user.first_name %> <%= review.booking.astrologist.user.last_name %></p>
          </div>
        <% end %>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only" >Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

